<?xml version="1.0" encoding="UTF-8" standalone="no"?><credentials><EmailUser><username>es1.grupo29@gmail.com</username><password>tenhosono</password></EmailUser><TwitterUser><username>es1.grupo29@gmail.com</username><password>tenhosono</password><token>AWYJQX6EFgYwtAj0mvND4mAB4 6mTebovEjo5NB5DCkoXNgv6ftylM4vLgcI1POtED5JlMH3H1s8 1064175567191330817-iJzBvZrNu4nVTccmXDK4wZDbuzaKx3 mGdzd4dgGZgP2atSUfjBXaKigI0N1PCTQPD1faurpR4HH</token></TwitterUser></credentials>