<?xml version="1.0" encoding="UTF-8" standalone="no"?><credentials><FacebookUser><username>a</username><password>b</password><token>EAAD4Yt8YSVgBAGZCMMZC5sUkmRTL8FY798Ozx85zSeHxU1SrH3wqFKUubDHENuoLN7EfFRsYOhg4vWNe1TvndRHHtTg94f7eqPJZCc1p9fSoykDLBuOBsSZB1gGadf2odLij9h06szlHWYt4xDiN8BsK3BZApT3H5gw6bQEFk9n43QCszByDih10r42ZCMQkXBqM4lSeLxdQZDZD</token></FacebookUser></credentials>